
:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}
main{
  position: absolute;
  width: 100vmax;
  color: #ffffff;
  z-index: 99;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  padding-bottom: 0;

  display: grid;
  grid-template-columns: repeat(12,1fr);
}

h1, h2, h3, blockquote{
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: start;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



header {
  background: #161636;
  grid-column: 2 / 6;
  font-size: 2vmax;
  padding: 2vw;
  margin-bottom: 30rem;
  border-radius: 20px;
}

section{
  grid-column: 2 / 7;
  padding: 2vw;
  font-size: 1.85vmin;
  line-height: 1.5;
  margin-bottom: 30rem;
  background-color:#343a40fc;
  border-radius: 1vmax;
  text-align: justify;

}

li{
  font-size: 0.85rem;
}

.pdf{
  grid-column: 8/ 12;
  background-color:transparent;
  margin-bottom: 0;
}

.pdfleft{
  grid-column: 2 / 6;
  background-color:transparent;
  margin-bottom: 0;
}

.left {
  grid-column: 7 / 12;
}



@media screen and (max-width: 600px) {
  header {
    background: #161636;
    grid-column: 2 / 8;
    font-size: 2vmax;
    padding: 2vw;
    margin-bottom: 30rem;
    border-radius: 20px;
  }

  section{
    grid-column: 1 / 7;
    padding: 2vw;
    font-size: 3vmin;
    line-height: 1.5;
    margin-bottom: 30rem;
    background-color:#343a40fc;
    border-radius: 1vmax;
    text-align: justify;
  
  }

  li{
    font-size: 3vmin;
  }

  

  .left {
    grid-column: 7 / 13;
  }
}

footer{
  
  grid-column: 1/13;

  text-align: center;
}






img{
  max-width: 20%;
  max-height: 20vh;
  margin-top: 10rem;
  margin-left: 1rem;
}

.icon{
  margin: 2rem;
  width: 3rem;
  height: 3rem;
}

.videoLeft{
  grid-column: 1/ 6;
  text-align: center;
  background-color: transparent;
}
.videoRight{
  grid-column: 7 / 12;
  text-align: center;
  background-color: transparent;
}

.videoLeft.other{
  margin-bottom: 0;
  grid-column: 1 / 6;
}

.videoRight.other{
  margin-bottom:0;
  grid-column: 8 / 13;
}




.popupvidRight {
  grid-column: 1 / 5;
}

.popupvidLeft {

  grid-column: 9 / 12;

}

.emptySpace{
  grid-column: 1 / 12;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}





